* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #61a6b997;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.heading {
    color: chocolate;
    font-size: 50px;
    padding: 30px;
    font-weight: bold;
}

.table {}

table,
th,
td {
    border: 1px solid #333;
    font-size: 20px;
    text-align: center;
}

th,
td {
    padding: 10px 40px;
}

.submit {
    margin: 30px;
}

.submit button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
}

.add-btn {
    background-color: rgb(227, 57, 57);
    cursor: pointer;
    border: none;
}

.delete-btn {
    background-color: rgb(224, 235, 27);
    cursor: pointer;
    border: none;
}

.update-btn {
    background-color: rgb(36, 227, 33);
    cursor: pointer;
    border: none;
}

.add-modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.modal-inner {
    width: 400px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.modal-header {
    padding: 15px;
    background-color: #e26e70;
    color: white;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 15px;
}

.modal-body__name {
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.add-submit,
.update-name-submit,
.update-price-submit {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #e26e70;
    color: white;
}

.hide {
    display: none;
}

.update-name-modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.update-price-modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.error-add,
.error-name,
.error-price {
    color: red;
    text-align: center;
    margin-top: 15px;
}

.modal-body__price {
    margin-bottom: 15px;
}

.search {
    margin-bottom: 15px;
}

.search-btn {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.search_input {
    height: 30px;
    border-radius: 5px;
}